@model NavigaMagazin.Models.Entity.AdvertisingTable
@if (Model != null)
{
    <a href="@Url.Action("Admeter","Home", new { id = Model.id })"><img src="@Model.advertisingphoto" class="img-responsive" alt="@Model.advertisingname"></a>
}

