@using NavigaMagazin.Models.Entity
@{
    ViewBag.Title = "MoonCalendar";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<script>
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
    $('#myModal2').on('shown.bs.modal', function () {
        $('#myInput2').trigger('focus')
    })
    $('#myModal3').on('shown.bs.modal', function () {
        $('#myInput3').trigger('focus')
    })
    $('#myModal4').on('shown.bs.modal', function () {
        $('#myInput4').trigger('focus')
    })
</script>
<div class="page-header row no-gutters py-4">
    <div class="col-6 col-sm-6 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Ay Takvimi</span>
    </div>
    <div class="col-6 col-sm-6 text-center mb-0 ">
        <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#exampleModal2">Yeni Ay Takvimi</button>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Fotoğraf</th>
                    <th scope="col">Yayınlanma Zamanı</th>
                    <th scope="col">İşlem</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><img src="@item.moonPhotoUrl" style="height:60px;" /></td>
                        <td>@item.moonTime</td>
                        <td><a href="@Url.Action("DeleteMoon", "Admin" , new { id = item.id })" onclick="return confirm('Bu Ay Takvim Fotoğrafını Silmek İstediğinize Emin Misiniz?')">
    <i class="fa fa-trash" aria-hidden="true"></i>
</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <form action="@Url.Action("AddMoon", "Admin")" method="post" enctype="multipart/form-data" class="form-group">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Ay Takvimi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                        
                            <label>Ay Takvimi Fotoğrafı</label><br />
                            <input type="file" name="moonPhotoUrl" /><br /><br />
                       
                        <label>Yayınlanma Zamanı </label><br />
                        <input type="text" id="datepicker" name="moonTime" required="required"><br />
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    <input type="submit" class="btn btn-primary" value="Ekle" />
                </div>
            </form>
        </div>
    </div>
</div>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script>
    $(function () {
        var dateNow = new Date();

        $("#datepicker").datepicker({
            dateFormat: "yy-mm-dd",
        }).datepicker('setDate', new Date());
        ;
    });
</script>